<?xml version="1.0" standalone="yes"?>
<WebSpiderSettings>
  <ConfigurationSetting>
    <Name>CacheTimeout</Name>
    <Type>System.Int32</Type>
    <Value>10080</Value>
  </ConfigurationSetting>
  <ConfigurationSetting>
    <Name>ConcurrentThreads</Name>
    <Type>System.Int32</Type>
    <Value>10</Value>
  </ConfigurationSetting>
  <ConfigurationSetting>
    <Name>AdiImagePrefix</Name>
    <Type>System.String</Type>
    <Value>E</Value>
  </ConfigurationSetting>
  <ConfigurationSetting>
    <Name>EnableCaching</Name>
    <Type>System.Boolean</Type>
    <Value>True</Value>
  </ConfigurationSetting>
  <ConfigurationSetting>
    <Name>CacheDuration</Name>
    <Type>System.Int32</Type>
    <Value>10800</Value>
  </ConfigurationSetting>
  <ConfigurationSetting>
    <Name>ADIUsername</Name>
    <Type>System.String</Type>
    <Value>PHIL0691</Value>
  </ConfigurationSetting>
  <ConfigurationSetting>
    <Name>ADIPassword</Name>
    <Type>System.String</Type>
    <Value>Tr34Fg56</Value>
  </ConfigurationSetting>
  <ConfigurationSetting>
    <Name>ErrorsToFile</Name>
    <Type>System.Boolean</Type>
    <Value>True</Value>
  </ConfigurationSetting>
  <ConfigurationSetting>
    <Name>ErrorFileName</Name>
    <Type>System.String</Type>
    <Value>Errors.txt</Value>
  </ConfigurationSetting>
  <ConfigurationSetting>
    <Name>MailErrors</Name>
    <Type>System.Boolean</Type>
    <Value>True</Value>
  </ConfigurationSetting>
  <ConfigurationSetting>
    <Name>ErrorMailTo</Name>
    <Type>System.String</Type>
    <Value>testprojectbyteam@gmail.com</Value>
  </ConfigurationSetting>
  <ConfigurationSetting>
    <Name>ErrorMailFrom</Name>
    <Type>System.String</Type>
    <Value>testprojectbyteam@gmail.com</Value>
  </ConfigurationSetting>
  <ConfigurationSetting>
    <Name>ErrorMailSubject</Name>
    <Type>System.String</Type>
    <Value>Errors.txt</Value>
  </ConfigurationSetting>
  <ConfigurationSetting>
    <Name>SmtpServer</Name>
    <Type>System.String</Type>
    <Value>smtp.gmail.com</Value>
  </ConfigurationSetting>
  <ConfigurationSetting>
    <Name>SmtpPort</Name>
    <Type>System.Int32</Type>
    <Value>587</Value>
  </ConfigurationSetting>
  <ConfigurationSetting>
    <Name>SmtpSSL</Name>
    <Type>System.Boolean</Type>
    <Value>True</Value>
  </ConfigurationSetting>
  <ConfigurationSetting>
    <Name>SmtpUserName</Name>
    <Type>System.String</Type>
    <Value>testprojectbyteam</Value>
  </ConfigurationSetting>
  <ConfigurationSetting>
    <Name>SmtpPassword</Name>
    <Type>System.String</Type>
    <Value>projectwork5</Value>
  </ConfigurationSetting>
  <ConfigurationSetting>
    <Name>AdiCategoryUpdateInterval</Name>
    <Type>System.Int32</Type>
    <Value>10080</Value>
  </ConfigurationSetting>
  <ConfigurationSetting>
    <Name>AdiCategoryLastUpdateDateTime</Name>
    <Type>System.DateTime</Type>
    <Value>03-02-2015 04:53:39 PM</Value>
  </ConfigurationSetting>
  <ConfigurationSetting>
    <Name>ADIProductDefaultUpdateInterval</Name>
    <Type>System.Int32</Type>
    <Value>1000</Value>
  </ConfigurationSetting>
  <ConfigurationSetting>
    <Name>RetryCount</Name>
    <Type>System.Int32</Type>
    <Value>3</Value>
  </ConfigurationSetting>
  <ConfigurationSetting>
    <Name>DateFormat</Name>
    <Type>System.String</Type>
    <Value>MM/dd/yyyy HH:mm</Value>
  </ConfigurationSetting>
  <ConfigurationSetting>
    <Name>MailSchedulerInterval</Name>
    <Type>System.Int32</Type>
    <Value>180000</Value>
  </ConfigurationSetting>
  <ConfigurationSetting>
    <Name>ScheduleDay</Name>
    <Type>System.String</Type>
    <Value />
  </ConfigurationSetting>
  <ConfigurationSetting>
    <Name>ScheduleTime</Name>
    <Type>System.Int32</Type>
    <Value>7</Value>
  </ConfigurationSetting>
  <ConfigurationSetting>
    <Name>ScheduleEndTime</Name>
    <Type>System.Int32</Type>
    <Value>19</Value>
  </ConfigurationSetting>
  <ConfigurationSetting>
    <Name>FinalDBName</Name>
    <Type>System.String</Type>
    <Value>Update_Spider_new.accdb</Value>
  </ConfigurationSetting>
  <ConfigurationSetting>
    <Name>SpiderDay</Name>
    <Type>System.String</Type>
    <Value>ALL</Value>
  </ConfigurationSetting>
  <ConfigurationSetting>
    <Name>SpiderTime</Name>
    <Type>System.Int32</Type>
    <Value>22</Value>
  </ConfigurationSetting>
  <ConfigurationSetting>
    <Name>SpiderMin</Name>
    <Type>System.Int32</Type>
    <Value>0</Value>
  </ConfigurationSetting>
  <ConfigurationSetting>
    <Name>WebSpiderDB</Name>
    <Type>System.String</Type>
    <Value>E:\GitHub\WebSpider\WebSpider2\bin\Debug\App_Code\WebSpiderDB.accdb</Value>
  </ConfigurationSetting>
  <ConfigurationSetting>
    <Name>FinalTable</Name>
    <Type>System.String</Type>
    <Value>E:\GitHub\WebSpider\WebSpider2\bin\Debug\App_Code\Update_Spider.accdb</Value>
  </ConfigurationSetting>
  <ConfigurationSetting>
    <Name>PingRate</Name>
    <Type>System.Int32</Type>
    <Value>4</Value>
  </ConfigurationSetting>
  <ConfigurationSetting>
    <Name>ADILoginPage</Name>
    <Type>System.String</Type>
    <Value>https://adiglobal.us/Pages/WebRegistration.aspx</Value>
  </ConfigurationSetting>
  <ConfigurationSetting>
    <Name>CrawlImageFolder</Name>
    <Type>System.String</Type>
    <Value>D:\Users\Anirban\Desktop\CrawlImage</Value>
  </ConfigurationSetting>
  <ConfigurationSetting>
    <Name>UpdateImageFolder</Name>
    <Type>System.String</Type>
    <Value>D:\Users\Anirban\Desktop\CrawlImage\UpdateImage</Value>
  </ConfigurationSetting>
  <ConfigurationSetting>
    <Name>SecLockLoginPage</Name>
    <Type>System.String</Type>
    <Value>https://adiglobal.us/Pages/WebRegistration.aspx</Value>
  </ConfigurationSetting>
  <ConfigurationSetting>
    <Name>SecLockUsername</Name>
    <Type>System.String</Type>
    <Value>AJDavis@esysconet.com</Value>
  </ConfigurationSetting>
  <ConfigurationSetting>
    <Name>SecLockPassword</Name>
    <Type>System.String</Type>
    <Value>45Kd#rT89</Value>
  </ConfigurationSetting>
  <ConfigurationSetting>
    <Name>SecLockImagePrefix</Name>
    <Type>System.String</Type>
    <Value>S</Value>
  </ConfigurationSetting>
  <ConfigurationSetting>
    <Name>DocFolder</Name>
    <Type>System.String</Type>
    <Value>D:\Users\Anirban\Desktop\WebSpiderDocs</Value>
  </ConfigurationSetting>
</WebSpiderSettings>